@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);


body{
overflow-x:hidden;
overflow-y:hidden;
display:flex;
width:100vw;
height:100vh;
margin:0px;


}
.container{

z-index:1;
display:flex;
flex-direction:column;
position:absolute;
left:3vw;
top:3vh;
width:70px;
height:13vh;

}


.home-logo {
background-image:url('./res/6-14.png');
background-size:contain;
background-repeat:no-repeat;
width:2.5em;
height:2.5em;
cursor:pointer;

}

.logoword{

display:flex;
justify-content:space;
color:rgb(216,114,39);
font-size:0.9em;
line-height:0px;
font-family: 'Noto Sans TC',sans-serif;
}

.flex-container{

display:flex;
z-index:1;
position:fixed;
right:3vw;
top:3vh;
width:9vw;
height:5vh;
padding:5px;

justify-content: space-between;

}
.question{
width:6vh;
height:100%;
background-image:url('./res/landing page-22.png');
background-size:cover;
background-position:center;
background-repeat:no-repeat;
cursor:help;

}

.myfood{
background-image:url('./res/landing page-23.png');
width:5vw;
height:90%;
justify-content:center;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
cursor:pointer;
}

.background{

background-image:url('./res/9-21.png');
position:absolute;
z-index:-1;
background-size:contain;
background-position:center;
background-repeat:no-repeat;
width:100vw;
height:100vh;
}

.centercontainer{
width:66%;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
margin:auto;
}
.centerbox{
display:flex;
width:100vw;
height:50vh;
}

.container4bt{
width:56%;
height:100%;
display:flex;
flex-direction:column;

}
.changebutton{
margin-top:2em;
height:12vh;
width:25vw;
position:absolute;
bottom:27%;
background-image:url('./res/landing page-24.png');
background-position:center;
background-size:contain;
background-repeat:no-repeat;
cursor:pointer;
}

.changebutton:hover{
background-color:rgb(255,221,193);
border-radius:15px;
transition:0.7s;

}
.fourpic{

height:95%;
width:34%;
display:flex;
flex-wrap:wrap;
justify-content:space-around;
}
.square{
width:21em;
height:21em;
display:flex;
justify-content:space-around;
flex-wrap:wrap;
}
.orange{
width:45%;
height:45%;

}
#or1{
background-image:url('./res/2-09.png');
background-size:contain;
background-repeat:no-repeat;
opacity:0.5;

}

#or2{
background-image:url('./res/2-10.png');
background-size:contain;
background-repeat:no-repeat;
opacity:0.5;

}

#or3{
background-image:url('./res/2-11.png');
background-size:contain;
background-repeat:no-repeat;
opacity:0.5;

}

#or4{
background-image:url('./res/2-12.png');
background-size:contain;
background-repeat:no-repeat;
opacity:0.5;

}
.dragfood{
height:23%;
width:23%;

}
#df1{

background-image:url('./res/2-09.png');
background-size:contain;
background-repeat:no-repeat;
}

#df2{

background-image:url('./res/2-10.png');
background-size:contain;
background-repeat:no-repeat;
}
.hold{

border:solid #ccc 4px;
}
.hovered{
background:#f4f4f4;
border-style:dashed;
}
.invisible{
display:none;
}
#df3{

background-image:url('./res/2-11.png');
background-size:contain;
background-repeat:no-repeat;
}
#df4{

background-image:url('./res/2-12.png');
background-size:contain;
background-repeat:no-repeat;
}
